#include <windows.h>
#include <commctrl.h>
#include <richedit.h>

#include "resource.h"
#include "rconfig.h"
#include "app.h"

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

//
// Accelerator resources
//
IDA_MAIN ACCELERATORS
BEGIN
	"A", IDM_SELECT_ALL, CONTROL, VIRTKEY, NOINVERT
	"C", IDM_COPY, CONTROL, VIRTKEY, NOINVERT
	"E", IDM_EXPLORE, CONTROL, VIRTKEY, NOINVERT
	"F", IDM_FIND, CONTROL, VIRTKEY, NOINVERT
	VK_RETURN, IDM_EXPLORE, VIRTKEY, NOINVERT
	VK_DELETE, IDM_UNINSTALL, VIRTKEY, NOINVERT
	VK_F1, IDM_ABOUT, VIRTKEY, NOINVERT
	VK_F2, IDM_SETTINGS, VIRTKEY, NOINVERT
	VK_F5, IDM_REFRESH, VIRTKEY, NOINVERT
	VK_F11, IDM_ZOOM, VIRTKEY, NOINVERT
END

//
// Menu resources
//
IDM_MAIN MENU
BEGIN
	POPUP " "
	BEGIN
		MENUITEM " ", IDM_SAVE_HTML
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_EXIT
	END
	POPUP " "
	BEGIN
		MENUITEM " ", IDM_SHOW_UPDATES
		MENUITEM " ", IDM_SHOW_SYSTEM_COMPONENTS
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_REFRESH
	END
	POPUP " "
	BEGIN
		MENUITEM " ", IDM_ALWAYSONTOP_CHK
		MENUITEM " ", IDM_DARKMODE_CHK
		MENUITEM " ", IDM_SKIPUACWARNING_CHK
		MENUITEM " ", IDM_CHECKUPDATES_CHK
		MENUITEM SEPARATOR
		POPUP " "
		BEGIN
			MENUITEM " ", IDX_LANGUAGE
		END
	END
	POPUP " "
	BEGIN
		MENUITEM " ", IDM_WEBSITE
		MENUITEM " ", IDM_CHECKUPDATES
		MENUITEM " ", IDM_ABOUT
	END
END

IDM_LISTVIEW MENU
{
	POPUP ""
	{
		MENUITEM " ", IDM_UNINSTALL
		MENUITEM " ", IDM_DELETE
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_EXPLORE
		MENUITEM " ", IDM_OPEN
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_REFRESH
		MENUITEM " ", IDM_COPY
		MENUITEM " ", IDM_COPY_VALUE
	}
}

//
// Dialog resources
//
IDD_MAIN DIALOGEX 0, 0, 548, 296
STYLE WS_OVERLAPPEDWINDOW | WS_CLIPCHILDREN | WS_CLIPSIBLINGS | DS_SHELLFONT | DS_MODALFRAME | NOT WS_VISIBLE
CAPTION APP_NAME
MENU IDM_MAIN
FONT 8, "Ms Shell Dlg"
BEGIN
	CONTROL			"", IDC_REBAR, REBARCLASSNAME, WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | CCS_NODIVIDER | CCS_TOP | RBS_VARHEIGHT | RBS_AUTOSIZE, 0, 0, 0, 0

	CONTROL			"", IDC_LISTVIEW, WC_LISTVIEW, WS_CHILD | WS_VISIBLE | WS_TABSTOP | LVS_SHOWSELALWAYS | LVS_REPORT | LVS_SHAREIMAGELISTS | LVS_AUTOARRANGE, 0, 0, 548, 276

	CONTROL			"", IDC_STATUSBAR, STATUSCLASSNAME, SBARS_TOOLTIPS, 0, 0, 0, 0
END

//
// String resources
//
STRINGTABLE
BEGIN
	IDS_FILE "File"
	IDS_VIEW "View"
	IDS_SETTINGS "Settings"
	IDS_HELP "Help"

	IDS_RUNASADMIN "Run as admin"
	IDS_FIND "Find"
	IDS_SAVE_HTML "Save as HTML"
	IDS_EXIT "Exit"
	IDS_REFRESH "Refresh"
	IDS_LANGUAGE "Language"
	IDS_SHOW_UPDATES "Show updates"
	IDS_SHOW_SYSTEM_COMPONENTS "Show system components"
	IDS_WEBSITE "Website"
	IDS_CHECKUPDATES "Check for updates"
	IDS_DONATE "Give thanks!"
	IDS_ABOUT "About"

	IDS_NAME "Name"
	IDS_VERSION "Version"
	IDS_TIMESTAMP "Timestamp"
	IDS_INSTALLER "Installer"

	IDS_STATUS_TOTAL "Installed apps"

	IDS_OPEN "Open registry"
	IDS_EXPLORE "Explore location"
	IDS_UNINSTALL "Uninstall"
	IDS_DELETE "Delete key"
	IDS_COPY "Copy"
	IDS_COPY_VALUE "Copy value"

	IDS_ALWAYSONTOP_CHK "Always on top"
	IDS_DARKMODE_CHK "Use dark theme"
	IDS_LOADONSTARTUP_CHK "Load on system startup"
	IDS_AUTOSIZECOLUMNS_CHK "Autosize columns"
	IDS_SKIPUACWARNING_CHK "Skip ""User Account Control"" prompt warning"
	IDS_CHECKUPDATES_CHK "Periodically check for updates (recommended)"

	IDS_QUESTION_DELETE "Delete selected item(s)?"
END

//
// PNG resources
//
IDP_SEARCH_LIGHT	PNG		"res\\search_light.png"
IDP_SEARCH_DARK		PNG		"res\\search_dark.png"
IDP_DELETE			PNG		"res\\delete.png"
IDP_REFRESH			PNG		"res\\arrow_refresh.png"
IDP_DONATE			PNG		"res\\paypal_fulllogo.png"

//
// Icon resources
//
IDI_MAIN			ICON		"res\\100.ico"

//
// Manifest resource
//
1			RT_MANIFEST		"res\\manifest.xml"

//
// Version Information resources
//
VS_VERSION_INFO VERSIONINFO
FILEVERSION		APP_VERSION_RES
PRODUCTVERSION	APP_VERSION_RES
FILEOS			VOS__WINDOWS32
FILETYPE		VFT_APP
FILESUBTYPE		VFT2_UNKNOWN
FILEFLAGSMASK	0x00000000
FILEFLAGS		VS_FF_PATCHED | VS_FF_PRERELEASE
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "Comments", APP_COMMENT
			VALUE "CompanyName", APP_AUTHOR
			VALUE "FileDescription", APP_NAME
			VALUE "FileVersion", APP_VERSION
			VALUE "InternalName", APP_NAME_SHORT
			VALUE "LegalCopyright", APP_COPYRIGHT
			VALUE "OriginalFilename", APP_NAME_SHORT ".exe"
			VALUE "ProductName", APP_NAME
			VALUE "ProductVersion", APP_VERSION
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409, 1252
	END
END
